<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @story.titulo %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @story.autor %>
</p>

<p>
  <strong>Hombre:</strong>
  <%= @story.hombre %>
</p>
<p>
  <strong>Escena:</strong>
</p>
<%@story.scenes.each do |scene|%>
  <%=scene.titulo%> </br>

  <td><%= link_to 'Show', [@story,scene] %></td>
        <td><%= link_to 'Edit', edit_story_path([@story,scene]) %></td>
        <td><%= link_to 'Destroy', [@story,scene], method: :delete, data: { confirm: 'Are you sure?' } %></td>
<%end%>
<%=render "scenes/form"%>

